
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #f6f1f1;
}


/*Header*/

header {
    background-color: rgb(20, 108, 148);
    width: 100%;
    margin-bottom: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@300&family=Nunito:wght@300&family=Roboto+Slab&display=swap');

h1 {
    font-family: 'Mukta', sans-serif;
    text-shadow: 3px 7px 2px rgba(27, 29, 29, 0.243);
    font-size: 40px;
    text-align: center;
    color: rgb(175, 211, 226);
    letter-spacing: 2px;
}


.navbar {
    background-color: rgb(20, 108, 148) !important;
    padding-bottom: 0;
}


.navbar-nav, .navbar-light, .nav-link {
    color: rgb(175, 211, 226);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
} 


header nav div div ul li a:hover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(175, 211, 226) !important;
}

.navbar-toggler{
    background-color: rgb(175, 211, 226);
}

header div div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    }

header nav ul li {
    width: 220px;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#headerDesarrollo {
    margin-bottom: 0;
}

/*Main*/

main {
    width: 100%;
}

/*INDEX*/
/*Sección presentación de Inicio*/

h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    color: rgb(20, 108, 148);
    font-weight: bold;
}

p{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: rgb(20, 108, 148);
}

.presentacion img {
    width: 100%;
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}

.presentacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.textoPresentacion {
    width: 30%;
    height: 20%;
    padding: 50px;
    background-color: rgb(175, 211, 226);
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}

.textoPresentacion p {
    margin-top: 20px;
}

/*Sección video de Inicio*/

#video {
    width: 100%;
    height: 400px;
    margin-left: 162px;
    margin-top: 120px;
    object-fit: cover;
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}

/*INDEX Y SOBRE MI*/
/*Sección Sobre mi de Inicio y de SobreMi (para ahorrar código)*/

.sobreMi {
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.sobreMiTexto {
    height: 480px;
    padding: 50px;
    background-color: rgb(175, 211, 226);
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
    margin-left: 14px;
}

.sobreMiTexto p {
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

.leerMas {
    background-color: rgb(246, 241, 241);
    padding: 6px 8px;
    border: 2px solid rgb(20, 108, 148);
    border-radius: 7px;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: rgb(20, 108, 148);
    text-decoration: none;
}

.leerMas:hover {
    box-shadow: 5px 7px 18px 10px rgb(221, 237, 231);
}


.sobreMi div img {
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
    width: 100%;
}

/*SOBRE MI*/
/*Seccion SobreMi de SobreMi con particularidades*/

#sobreMi {
    height: 520px;
}

.alinear {
    margin-left: 12px;
    margin-bottom: 100px;
}

/*Seccion Mi Carrera de SobreMi con particularidades*/

#miCarrera {
    height: 570px;
}

/*PROYECTOS*/
/*Sección con intro de Proyectos*/

.introProyectosTexto {
    height: 260px;
    padding: 50px;
    background-color:  rgb(175, 211, 226);
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
    margin-left: 50px;
    margin-right: 80px;
}

.introProyectosTexto h2 {
    margin-bottom: 20px;
}

.introProyectos div img {
    border: 5px solid rgb(25, 167, 206);
    border-radius: 300px;
    box-shadow: 10px 10px 15px;
    margin-left: 80px;
}


/*Sección Proyectos de Proyectos*/

.grillaProyectos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 150px;
    margin-bottom: 150px;
    margin-top: 100px;
}

.proyectos {
    background-color: #f6f1f1;
    width: 370px;
    height: 300px;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}


.proyectos details summary:hover, .proyectos details summary:active {
    background-color:  rgba(20, 108, 148, 0.8);
}

.proyectos details summary {
    background-color: rgb(20, 108, 148);
    border: 2px solid rgb(20, 108, 148);
    padding: 5px;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(175, 211, 226);
    text-align: center;
}

.proyectos details div {
    background-color: rgb(175, 211, 226);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.proyectos details p {
    background-color: rgb(175, 211, 226);
    color: rgb(20, 108, 148);
    padding: 10px;
    height: fit-content;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.proyectos details p:not(.malagueta) {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.irAlSitio {
    background-color: rgb(246, 241, 241);
    padding: 6px 8px;
    border: 2px solid rgb(20, 108, 148);
    border-radius: 7px;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: rgb(20, 108, 148);
    text-decoration: none;
}

.irAlSitio:hover {
    box-shadow: 5px 7px 20px 2px rgb(221, 237, 231);
}

/*DESARROLLO*/



.desarrollo {
    padding: 50px;
    background-color:  rgb(175, 211, 226);
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
    margin-left: 95px;
}

.desarrollo p {
    margin-top: 20px;
    text-align: justify;
}

.lenguajes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.lenguajesTexto {
    width: 800px;
    height: 250px;
    padding: 50px;
    background-color: rgb(175, 211, 226);
    border: 5px solid rgb(25, 167, 206);
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}

.lenguajesTexto h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    color: rgb(20, 108, 148);
    font-weight: bold;
    text-align: center;
}


#desarrollo {
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url(../img/codigo.jpg);
    background-size: cover;
    background-position: center;
}

/*CONTACTO*/

#contacto {
    background-image: url(../img/correo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}

.contacto {
    margin-bottom: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.flexContacto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


form{
    background-color: rgb(175, 211, 226);
    width: 40%;
    height: 750px;
    padding: 12px 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    border-right: 7px solid rgba(20, 108, 148, 0.8);
    border-bottom: 7px solid rgba(20, 108, 148, 0.8);;
}

form div{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items:baseline; 
    justify-content: center;
}

input[type=text],
input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(25, 167, 206);
    border-radius: 10px;
    margin-left: 10px;
}

textarea {
    width: 80%;
    padding: 40px 20px;
    margin: 8px 10px;
    border: 1px solid rgb(25, 167, 206);
    border-radius: 10px;
}

form div button {
    background-color: rgb(246, 241, 241);
    padding: 6px 8px;
    margin-top: 20px;
    border: 2px solid rgb(20, 108, 148);
    border-radius: 7px;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: rgb(20, 108, 148);
}

::placeholder {
    font-family: 'Mukta', sans-serif;
    color: rgb(25, 167, 206);
}

    /*Footer*/

footer {
    background-color: rgb(25, 167, 206);
    height: 150px;
    width: 100%;
    padding-top: 2%;
}

.grillaFooter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.descargarCV {
    background-color: rgb(246, 241, 241);
    padding: 6px 8px;
    border: 2px solid rgb(20, 108, 148);
    border-radius: 7px;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: rgb(20, 108, 148);
    text-decoration: none;
}

.descargarCV:hover {
    box-shadow: 5px 7px 18px 7px rgb(221, 237, 231);
}


/*MOVIL*/ 

@media only screen and (min-width: 320px) and (max-width: 576px) {
    
    /*Header*/

    h1 {
        font-size: 27px;
    }

    ul li a{
        font-size: 18px;
    }

    h2{
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .navbar-toggler {
        margin-bottom: 10px;
    }


    /*Main de la Pagina de Inicio*/
    /*Sección Presentación de Inicio*/

    .textoPresentacion {
        margin-top: 10%;
        width: 62%;
        height: 45%;
        padding: 5%;
    }


    /*Sección Video de Inicio*/

    #video {
        height: 80%;
        margin-left: 27%; 
        margin-top: 15%;
    }

    /*Sección SobreMi de Inicio*/

    .sobreMiTexto {
        height: 50%;
        width: 64%;
        padding: 5%;
        margin-top: 10%;
        margin-left: 0;
    }

    .sobreMi {
        margin-top: 0;
        margin-bottom: 15%;
        margin-left: 0;
        align-items: center;
    }

    .sobreMi div img {
        margin-top: 15%;
        width: 100%;
    }

    .leerMas {
        font-size: 16px;
    }

    .retrato {
        padding-left: 0;
        padding-right: 0;
        width: 64%;
    }


    /*Main de la Pagina Sobre Mi*/
    /*Seccion Sobre  Mi*/


#sobreMi {
    height: 60%;
    margin-top: 0;
}

#sobreMi p {
    margin-bottom: 0;
}

.alinear {
    margin-bottom: 0;
}

/*Seccion Mi Carrera*/

#miCarrera {
    padding-bottom: 0;
    height: 40%;
}


    /*Main de la Pagina proyectos*/

    .introProyectosTexto {
        height: fit-content;
        width: fit-content;
        margin-left: 15%;
        margin-right: 15%;
    }

    .introProyectos div img {
        width: 300px;
        margin-top: 50px;
        margin-left: 25%;
    }

    .grillaProyectos {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        justify-content: center;
        justify-items: center;
        row-gap: 17%;
    }
    
    #margenProyectos {
        height: 1050vh;
    }
    
    .proyectos details summary {
        font-size: 16px;
    }

    .proyectos {
        width: 100%;
        justify-self: center;
        margin-left: 25px;
    }

    .proyectos img {
        width: 80% 
    }

    /*Footer*/

    footer{
        height: auto;
    }
    
    footer div div div a img {
        width: 90px;
        height: 50px;
    }

    #imgMail {
        display: none;
    }

    .grillaFooter p {
        font-size: 12px;
        text-align: center;
        margin-top: 9px;
    }
    
    .grillaFooter{
        flex-direction: column;
    }

    .descargarCV {
        font-size: 11px;
        margin-top: 10px;
    }
}
