@charset "UTF-8";
/*Variables*/
/*Tipografía*/
/*Borde*/
/*Sombreado*/
/*Ancho*/
/*Maps*/
/*Extend*/
/*Estilo de pestañas del nav del header*/
header .flexIndex .divNav nav.navbar-light div ul.navbar-nav li a.nav-link, header .flexIndex .divNav nav.navbar-light div ul.navbar-nav, header .flexIndex .divNav nav.navbar-light {
  color: rgb(175, 211, 226);
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}

/*Estilo comun en divs e imagenes*/
section .lenguajes .lenguajesTexto, #desarrollo section .flexDesarrollo .desarrollo, section .miCarrera #cerebro img, section .miCarrera .miCarreraTexto, section .sobreMiS .retratoSobreMi img, section .sobreMiS .sobreMiTextoS, section .sobreMiI .retrato img, section .sobreMiI .sobreMiTextoI, section .divVideo #video, section .presentacion .textoPresentacion div:not(.carousel-inner), section .presentacion .familia img, section .presentacion img:not(.codigo1, .codigo2) {
  border-radius: 10px;
  border-right: 5px solid rgb(25, 167, 206);
  border-bottom: 5px solid rgb(25, 167, 206);
  box-shadow: 0px 15px 20px gray;
}

/*Mixins*/
/*Medidas*/
/*Display Flex con flex flow*/
/*Display Flex con flex direction*/
/*Estilo de imagen de fondo*/
/*Generales*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body de todas las paginas*/
body {
  background-color: rgb(246, 241, 241);
}
body p {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 108, 148);
}

/*Main de todas las paginas*/
main {
  width: 100%;
}
main h2 {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(20, 108, 148);
  font-weight: bold;
}

/*Header*/
/*Header de todas las paginas*/
header {
  background-color: rgb(20, 108, 148);
  width: 100%;
  margin-bottom: 0;
  border-bottom: 7px double rgba(44, 42, 42, 0.243);
}
header .flexIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .flexIndex .divLogo {
  width: 10%;
}
header .flexIndex h1 {
  font-family: sans-serif;
  text-shadow: 3px 7px 2px rgba(27, 29, 29, 0.243);
  font-size: 40px;
  color: rgb(175, 211, 226);
  letter-spacing: 2px;
}
header .flexIndex .divNav {
  width: 55%;
}
header .flexIndex .divNav nav.navbar {
  background-color: rgb(20, 108, 148);
  padding-bottom: 0;
  height: 100%;
  padding-top: 0;
}
header .flexIndex .divNav nav.navbar-light div {
  width: 100%;
  height: 100%;
}
header .flexIndex .divNav nav.navbar-light div ul {
  list-style-type: none;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
header .flexIndex .divNav nav.navbar-light div ul.navbar-nav li {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 150px;
}
header .flexIndex .divNav nav.navbar-light div ul.navbar-nav li a.nav-link {
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
}
header .flexIndex .divNav nav.navbar-light div ul.navbar-nav li a:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(175, 211, 226);
}
header .flexIndex .divNav nav.navbar-light .navbar-toggler {
  background-color: rgb(246, 241, 241);
}

/*Index*/
/*INDEX*/
@keyframes slide-in {
  from {
    margin-top: 95%;
    height: 1000px;
  }
  to {
    margin-top: -100px;
    height: 665px;
  }
}
@keyframes slide-in-top {
  from {
    margin-top: -200px;
    height: 900px;
  }
  to {
    margin-top: 0;
    height: 648px;
  }
}
/*Sección presentación de Inicio*/
section.codigoI {
  background-image: url(../img/binario3.webp);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}
section .presentacion {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: start;
}
section .presentacion img:not(.codigo1, .codigo2) {
  width: 100%;
}
section .presentacion .codigo1 {
  z-index: -1;
  animation-name: slide-in;
  animation-duration: 3s;
  animation-iteration-count: 1;
  position: relative;
  top: -100px;
}
section .presentacion .familia {
  padding-left: 20px;
}
section .presentacion .familia img {
  width: 100%;
}
section .presentacion .codigo2 {
  z-index: -1;
  animation-name: slide-in-top;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
section .presentacion .textoPresentacion {
  width: 450px;
  height: 600px;
  padding-right: 12px;
  padding-left: 12px;
}
section .presentacion .textoPresentacion div {
  box-shadow: 0px 15px 20px gray;
}
section .presentacion .textoPresentacion div:not(.carousel-inner) {
  background-color: rgb(175, 211, 226);
  padding: 50px;
  line-height: 42px;
}
section .presentacion .textoPresentacion div:not(.carousel-inner) img {
  width: 70px;
  border: none;
  box-shadow: 0 0;
}
section .presentacion .textoPresentacion div:not(.carousel-inner).trabajemos {
  width: 450px;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
section .presentacion .textoPresentacion div:not(.carousel-inner).trabajemos img {
  width: 70px;
}
section .presentacion .textoPresentacion div:not(.carousel-inner).hola {
  width: 450px;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

/*INDEX*/
/*Sección video de Inicio*/
section .divVideo {
  position: relative;
}
section .divVideo #video {
  width: 1050px;
  height: 400px;
  margin-left: 162px;
  object-fit: cover;
}
section .divVideo .divTexto {
  position: absolute;
  bottom: 8vh;
  left: 35vw;
  line-height: normal;
  width: 360px;
}
section .divVideo .divTexto p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bold;
  color: rgb(175, 211, 226);
}
section .divVideo .divTexto #coding {
  font-style: italic;
  color: rgb(25, 167, 206);
  font-size: 80px;
  text-align: center;
}

/*Sección Sobre mi de Inicio*/
section .sobreMiI {
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
section .sobreMiI .sobreMiTextoI {
  height: 480px;
  padding: 50px;
  background-color: rgb(175, 211, 226);
  margin-left: 14px;
}
section .sobreMiI .sobreMiTextoI p {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 30px;
}
section .sobreMiI .sobreMiTextoI .leerMas {
  background: linear-gradient(to top, rgb(175, 211, 226), rgb(246, 241, 241));
  padding: 6px 8px;
  transition: padding 0.5s;
  border: 2px solid rgb(20, 108, 148);
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 108, 148);
  text-decoration: none;
}
section .sobreMiI .sobreMiTextoI .leerMas:hover {
  box-shadow: 5px 7px 15px 7px rgba(65, 64, 64, 0.2);
  padding: 10px 10px;
}
section .sobreMiI .retrato {
  padding-right: 0;
  padding-left: 24px;
  margin-left: 10px;
}
section .sobreMiI .retrato img {
  width: 100%;
}

/*SobreMi*/
/*SOBRE MI*/
.mainSobreMi {
  padding-top: 100px;
}

@keyframes slide-in-top {
  from {
    margin-top: -200px;
    height: 900px;
  }
  to {
    margin-top: 0;
    height: 720px;
  }
}
@keyframes slide-in {
  from {
    margin-top: 95%;
    height: 1000px;
  }
  to {
    margin-top: 10px;
    height: 720px;
  }
}
/*Seccion SobreMi de SobreMi */
section .sobreMiS {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: start;
  margin-bottom: 100px;
}
section .sobreMiS .codigo2 {
  z-index: -1;
  animation-name: slide-in-top;
  animation-duration: 5s;
  animation-iteration-count: 1;
  width: 214px;
  height: 720px;
  position: relative;
  top: -100px;
}
section .sobreMiS .codigo1 {
  z-index: -1;
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  position: relative;
  top: -100px;
}
section .sobreMiS .sobreMiTextoS {
  height: 540px;
  padding: 50px;
  background-color: rgb(175, 211, 226);
  margin-left: 14px;
}
section .sobreMiS .sobreMiTextoS p {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 30px;
}
section .sobreMiS .retratoSobreMi {
  padding-left: 24px;
}
section .sobreMiS .retratoSobreMi img {
  width: 100%;
}

/*Seccion Mi Carrera de SobreMi*/
section .miCarrera {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 90px;
  padding-bottom: 150px;
}
section .miCarrera .miCarreraTexto {
  height: 600px;
  padding: 50px;
  background-color: rgb(175, 211, 226);
}
section .miCarrera .miCarreraTexto p {
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 50px;
}
section .miCarrera #cerebro img {
  width: 100%;
}

/*Proyectos*/
/*PROYECTOS*/
/*Sección con intro de Proyectos*/
.intro {
  width: 100%;
  padding: 100px;
  background-image: url(../img/chicaCodigo.webp);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.intro .introProyectos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 300px;
  padding: 30px;
  background-color: rgb(175, 211, 226);
  border-right: 5px solid rgb(25, 167, 206);
  border-bottom: 5px solid rgb(25, 167, 206);
  border-radius: 40px;
  box-shadow: 0px 15px 20px gray;
}
.intro .introProyectos div h2 {
  margin-bottom: 40px;
}
.intro .introProyectos div p {
  text-align: justify;
}

/*PROYECTOS*/
/*Sección Proyectos de Proyectos*/
.grillaProyectos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 150px;
  justify-items: center;
  margin: 100px 0 150px;
}
.grillaProyectos .proyectos {
  background-color: rgb(246, 241, 241);
  width: 370px;
  height: 300px;
  padding: 10px;
  text-align: center;
}
.grillaProyectos .proyectos details summary {
  background-color: rgb(20, 108, 148);
  border-right: 4px double rgb(25, 167, 206);
  border-bottom: 4px double rgb(25, 167, 206);
  padding: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(175, 211, 226);
  text-align: center;
}
.grillaProyectos .proyectos details summary:hover {
  background-color: rgba(20, 108, 148, 0.8);
}
.grillaProyectos .proyectos details summary:active {
  background-color: rgba(20, 108, 148, 0.8);
}
.grillaProyectos .proyectos details div {
  background-color: rgb(175, 211, 226);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}
.grillaProyectos .proyectos details div .irAlSitio {
  background: linear-gradient(to top, rgb(175, 211, 226), rgb(246, 241, 241));
  padding: 6px 8px;
  border: 2px solid rgb(20, 108, 148);
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 108, 148);
  text-decoration: none;
}
.grillaProyectos .proyectos details div .irAlSitio:hover {
  box-shadow: 5px 7px 15px 7px rgba(65, 64, 64, 0.2);
}
.grillaProyectos .proyectos details p {
  background-color: rgb(175, 211, 226);
  color: rgb(20, 108, 148);
  padding: 10px;
  height: fit-content;
  font-family: sans-serif;
  font-size: 16px;
  text-align: justify;
}
.grillaProyectos .proyectos details p:not(.malagueta) {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/*Desarrollo del sitio*/
/*DESARROLLO*/
#desarrollo {
  padding-bottom: 100px;
  padding-top: 100px;
  background-image: url(../img/codigo.webp);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  /*--Seccion con explicación del sitio/intro de la página*/
}
#desarrollo section .flexDesarrollo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#desarrollo section .flexDesarrollo .desarrollo {
  padding: 50px;
  background-color: rgb(175, 211, 226);
}
#desarrollo section .flexDesarrollo .desarrollo p {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: justify;
}

/*--Seccion de lenguajes usados*/
section .lenguajes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 0;
  width: 100%;
}
section .lenguajes .logos {
  padding-left: 0;
  padding-right: 0;
  margin-right: 2%;
}
section .lenguajes .logos img {
  filter: drop-shadow(0px 15px 20px gray);
}
section .lenguajes .lenguajesTexto {
  padding: 20px;
  background-color: rgb(175, 211, 226);
  text-align: center;
  margin-right: 1%;
}
section .lenguajes .lenguajesTexto h3 {
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(20, 108, 148);
  font-weight: bold;
  text-align: center;
}

/*Contacto*/
/*CONTACTO*/
@keyframes appear-rigth {
  from {
    margin-left: 600px;
    width: 1400px;
  }
  to {
    margin-right: 30%;
    width: 1320px;
  }
}
#contacto {
  background-image: url(../img/correo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px;
}
#contacto section .flexContacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  animation-name: appear-rigth;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
#contacto section .flexContacto .contacto {
  margin: 10px 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}
#contacto form {
  background: linear-gradient(to right, rgb(175, 211, 226), rgb(25, 167, 206));
  width: 40%;
  height: 950px;
  padding: 12px 20px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  border-right: 7px solid rgba(20, 108, 148, 0.8);
  border-bottom: 7px solid rgba(20, 108, 148, 0.8);
}
#contacto form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: rgb(20, 108, 148);
  font-size: 18px;
}
#contacto form div input[type=text],
#contacto form div input[type=email] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(25, 167, 206);
  border-radius: 10px;
  margin: 15px 0 15px 20px;
}
#contacto form div textarea {
  width: 90%;
  padding: 40px 20px;
  margin: 15px 0 15px 20px;
  border: 1px solid rgb(25, 167, 206);
  border-radius: 10px;
}
#contacto form div ::placeholder {
  font-family: sans-serif;
  color: rgb(25, 167, 206);
  font-size: 16px;
}
#contacto form .boton {
  align-items: center;
}
#contacto form .boton button {
  width: 50%;
  background: linear-gradient(to top, rgb(175, 211, 226), rgb(246, 241, 241));
  padding: 6px 8px;
  margin-top: 20px;
  border: 2px solid rgb(20, 108, 148);
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 108, 148);
}
#contacto form .boton button:hover {
  box-shadow: 5px 7px 15px 7px rgba(65, 64, 64, 0.2);
}

/*Footer*/
/*Footer*/
footer {
  background-color: rgb(25, 167, 206);
  width: 100%;
  height: 150px;
  padding-top: 2%;
  border-top: 7px double rgba(44, 42, 42, 0.243);
}
footer .grillaFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer .grillaFooter p {
  color: rgb(175, 211, 226);
  text-shadow: 3px 3px 5px rgb(20, 108, 148);
  font-weight: bold;
}
footer .grillaFooter .descargarCV {
  background: linear-gradient(to top, rgb(175, 211, 226), rgb(246, 241, 241));
  padding: 6px 8px;
  transition: padding 0.5s;
  border: 2px solid rgb(20, 108, 148);
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(20, 108, 148);
  text-decoration: none;
}
footer .grillaFooter .descargarCV:hover {
  box-shadow: 5px 7px 15px 7px rgba(65, 64, 64, 0.2);
  padding: 10px 10px;
}
footer .grillaFooter .linkedin img {
  width: 120px;
  height: 68px;
  transition: width 0.5s, height 0.5s;
}
footer .grillaFooter .linkedin img:hover {
  width: 140px;
  height: 80px;
}
footer .grillaFooter .linkedin:hover {
  filter: drop-shadow(0px 15px 20px gray);
}

/*Media queries*/
/*VISTA MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 576px) {
  /*Header*/
  header .flexIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .flexIndex .divLogo {
    width: 20%;
    padding: 0;
  }
  header .flexIndex .divLogo img {
    width: 125%;
  }
  header .flexIndex .divH1 {
    width: 49%;
    padding: 0;
  }
  header .flexIndex .divH1 h1 {
    font-size: 23px;
    text-align: center;
  }
  header .flexIndex .divNav {
    width: 31%;
  }
  header .flexIndex .divNav nav.navbar-light .navbar-toggler {
    margin-bottom: 5px;
    margin-left: 10vw;
  }
  header .flexIndex .divNav nav.navbar-light div ul.navbar-nav li a.nav-link {
    font-size: 16px;
  }
  /*Main general del sitio en mobile*/
  main h2 {
    font-size: 20px;
  }
  main p {
    font-size: 16px;
  }
  /*Main de la Pagina de Inicio*/
  /*Sección Presentación de Inicio*/
  section.codigoI {
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    background-image: none;
  }
  section .presentacion {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  section .presentacion .familia {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
  section .presentacion .familia img {
    width: 100%;
  }
  section .presentacion .codigo2, section .presentacion .codigo1 {
    display: none;
  }
  section .presentacion .textoPresentacion {
    padding: 2%;
    margin-top: 20%;
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  section .presentacion .textoPresentacion div {
    width: 84%;
    height: 40%;
  }
  section .presentacion .textoPresentacion div div:not(.carousel-inner).trabajemos, section .presentacion .textoPresentacion div div:not(.carousel-inner).hola {
    padding: 5%;
    line-height: inherit;
    height: 200px;
  }
  /*Sección Video de Inicio*/
  section.seccionVideo {
    display: none;
  }
  /*Sección SobreMi de Inicio*/
  section {
    padding-top: 0;
  }
  section .sobreMiI {
    padding-bottom: 20%;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    align-items: center;
  }
  section .sobreMiI .sobreMiTextoI {
    width: 80%;
    height: 50%;
    padding: 5%;
    margin-top: 20%;
    margin-left: 0;
  }
  section .sobreMiI .sobreMiTextoI .leerMas {
    font-size: 16px;
  }
  section .sobreMiI .retrato {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    margin-top: 20%;
  }
  section .sobreMiI .retrato img {
    width: 100%;
  }
  /*Main de la Pagina Sobre Mi*/
  .mainSobreMi {
    background-image: url(../img/binario.webp);
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    padding-top: 50px;
    /*Seccion Sobre Mi*/
    /*Seccion Mi Carrera*/
  }
  .mainSobreMi section .sobreMiS {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    align-items: center;
  }
  .mainSobreMi section .sobreMiS .codigo2, .mainSobreMi section .sobreMiS .codigo1 {
    display: none;
  }
  .mainSobreMi section .sobreMiS .sobreMiTextoS {
    width: 80%;
    height: 60%;
    padding: 5%;
    margin-left: 0;
    margin-top: 0;
  }
  .mainSobreMi section .sobreMiS .sobreMiTextoS p {
    margin-bottom: 0;
  }
  .mainSobreMi section .sobreMiS .retratoSobreMi {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    margin-top: 20%;
    margin-left: 0;
  }
  .mainSobreMi section .sobreMiS .retratoSobreMi img {
    width: 100%;
    margin-left: 0;
  }
  .mainSobreMi section .miCarrera {
    margin-top: 0;
    margin-left: 0;
    align-items: center;
    padding-bottom: 20%;
    padding-top: 20%;
  }
  .mainSobreMi section .miCarrera .miCarreraTexto {
    width: 80%;
    height: fit-content;
    padding: 5%;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .mainSobreMi section .miCarrera .miCarreraTexto p {
    margin-bottom: 0;
    padding-bottom: 5vh;
  }
  .mainSobreMi section .miCarrera #cerebro {
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    margin-top: 20%;
  }
  .mainSobreMi section .miCarrera #cerebro img {
    width: 100%;
  }
  /*Main de la Pagina proyectos*/
  /*Seccion Intro de proyectos*/
  .intro {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro .introProyectos {
    width: 85%;
    height: auto;
    padding: 5%;
  }
  .intro .introProyectos div h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .intro .introProyectos div img {
    width: 100%;
  }
  /*Seccion de proyectos*/
  .seccionProyectos {
    width: 100%;
    height: 100%;
  }
  .seccionProyectos .grillaProyectos {
    grid-template-columns: 1fr;
    row-gap: 15vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .seccionProyectos .grillaProyectos .proyectos {
    width: 80%;
    justify-self: center;
    height: auto;
    padding: 0;
  }
  .seccionProyectos .grillaProyectos .proyectos img {
    width: 100%;
  }
  .seccionProyectos .grillaProyectos .proyectos details summary {
    font-size: 16px;
  }
  /*Main de la Pagina Desarrollo*/
  /*Sección con intro de la Pagina*/
  #desarrollo {
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    padding-top: 50px;
    /*Sección de Lenguajes*/
  }
  #desarrollo section .flexDesarrollo .desarrollo {
    height: fit-content;
    padding: 5%;
  }
  #desarrollo section .flexDesarrollo .desarrollo h2 {
    text-align: center;
  }
  #desarrollo section .lenguajes {
    margin-left: 0;
    margin-top: 20%;
  }
  #desarrollo section .lenguajes .logos {
    margin-right: 0;
  }
  #desarrollo section .lenguajes .logos img {
    width: 85%;
    margin-left: 8%;
  }
  #desarrollo section .lenguajes .lenguajesTexto {
    padding: 5%;
    width: 88%;
    height: fit-content;
    margin-top: 7%;
    margin-right: 0;
  }
  /*Main de la Pagina Contacto*/
  @keyframes appear-rigth {
    from {
      margin-left: 100%;
      width: 600px;
    }
    to {
      margin-left: 0;
      width: 550px;
    }
  }
  /*Formulario*/
  #contacto form {
    width: 80%;
    height: fit-content;
  }
  #contacto form div {
    margin-bottom: 5%;
  }
  #contacto form div input[type=text],
  #contacto form div input[type=email], #contacto form div textarea {
    width: 97%;
    margin: 10px 0 7px 7px;
  }
  #contacto form .boton button {
    font-size: 16px;
    width: 60%;
  }
  @keyframes appear-rigth {
    from {
      margin-left: 200px;
      width: 500px;
    }
    to {
      margin-left: -50px;
      width: 500px;
    }
  }
  /*Footer*/
  footer {
    height: auto;
  }
  footer .grillaFooter {
    flex-direction: column;
  }
  footer .grillaFooter p {
    font-size: 12px;
    text-align: center;
    margin-top: 9px;
  }
  footer .grillaFooter #imgMail {
    display: none;
  }
  footer .grillaFooter a img {
    width: 90px;
    height: 50px;
  }
  footer .grillaFooter .descargarCV {
    font-size: 11px;
    margin-top: 10px;
    width: 70%;
  }
}

/*# sourceMappingURL=estilos.css.map */
