/*CONTACTO*/

@keyframes appear-rigth {
    from {
        margin-left: 600px;
        width: 1400px;
    }
    to {
        margin-right: 30%;
        width: 1320px;
    }
}

#contacto {
    background-image: url(../img/correo.webp);
    @include imagenFondo(cover, no-repeat, center);
    padding-bottom: 100px;
    section {
        .flexContacto {
            @include flex(flex, row wrap, center, center);
            padding-top: 50px;
            padding-bottom: 50px;
            animation-name: appear-rigth;
            animation-duration: 3s;
            animation-iteration-count: 1;
            .contacto {
                margin: 10px 10px;
                font-family: $font;
                font-size: 18px;
                font-weight: 800;
                text-align: center;
            }
        }
    }
    form {
        background: linear-gradient(to right, map-get($fondos, celesteClaro), map-get($fondos, celesteOscuro));
        @include medidas(40%, 950px);
        padding: 12px 20px;
        border-radius: 10px;
        margin: auto;
        @include flexAbreviado (flex, column, center, center);
        font-family: $font;
        font-weight: bold;
        border-right: 7px solid rgba(20, 108, 148, 0.8);
        border-bottom: 7px solid rgba(20, 108, 148, 0.8);
        div {
            width: $full-width;
            @include flexAbreviado (flex, column, center, baseline);
            color: map-get($colorFuente, turquesa);
            font-size: 18px;
            input[type=text],
            input[type=email] {
                    width: 90%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    border: 1px solid rgb(25, 167, 206);
                    border-radius: 10px;
                    margin: 15px 0 15px 20px;
            };
            textarea {
                width: 90%;
                padding: 40px 20px;
                margin: 15px 0 15px 20px;
                border: 1px solid rgb(25, 167, 206);
                border-radius: 10px;
            };
            ::placeholder {
                font-family: $font;
                color: map-get($colorFuente , celesteOscuro);
                font-size: 16px;
            }
        }
        .boton {
            align-items: center;
            button {
                width: 50%;
                background: linear-gradient(to top, map-get($fondos, celesteClaro), map-get($fondos, casiBlanco));
                padding: 6px 8px;
                margin-top: 20px;
                border: $bordeBoton;
                border-radius: 7px;
                font-family: $font;
                font-size: 20px;
                color: map-get($colorFuente, turquesa);
                &:hover {
                    box-shadow: $sombreadoHover;
                }
            }
        }
    }
}