/*DESARROLLO*/

#desarrollo {
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url(../img/codigo.webp);
    @include imagenFondo(contain, repeat, center);

    /*--Seccion con explicación del sitio/intro de la página*/

    section {
        .flexDesarrollo {
            @include flex(flex, row wrap, center, center);
            .desarrollo {
                @extend %divs;
                padding: 50px;
                background-color: map-get($fondos, celesteClaro);
                p {
                    margin-top: 20px;
                    margin-bottom: 0;
                    text-align: justify;
                }
            }
        }
    }
    }

/*--Seccion de lenguajes usados*/
    section {
        .lenguajes{
            @include flex(flex, row wrap, center, center);
            margin-top: 80px;
            margin-left: 0;
            width: $full-width;
            .logos {
                padding-left: 0;
                padding-right: 0;
                img {
                    filter: drop-shadow($sombreadoGral);
                }
            };
            .lenguajesTexto {
                padding: 20px;
                background-color: map-get($fondos, celesteClaro);
                @extend %divs;
                text-align: center;
                h3 {
                    font-family: $font;
                    font-size: 25px;
                    color: map-get($colorFuente, turquesa);
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }