    /*Footer*/

    footer {
        background-color: map-get($fondos, celesteOscuro);
        @include medidas($full-width, 150px);
        padding-top: 2%;
        border-top: $bordeHeader;
        .grillaFooter {
            @include flex(flex, row wrap, space-around, center);
            text-align: center;
            p {
                color: map-get($colorFuente, celesteClaro);
                text-shadow: 3px 3px 5px rgb(20, 108, 148);
                font-weight: bold;
            };
            .descargarCV {
                background: linear-gradient(to top, map-get($fondos, celesteClaro), map-get($fondos, casiBlanco));
                padding: 6px 8px;
                transition: padding .5s;
                border: $bordeBoton;
                border-radius: 7px;
                font-family: $font;
                font-size: 20px;
                color: map-get($colorFuente, turquesa);
                text-decoration: none;
                &:hover {
                    box-shadow: $sombreadoHover;
                    padding: 10px 10px;
                }
            };
            .linkedin {
                img{
                    width: 120px;
                    height: 68px;
                    transition: width .5s, height .5s;
                    &:hover{
                        width: 140px;
                        height: 80px;
                    }
                };
                &:hover{
                    filter: drop-shadow($sombreadoGral);
                }
            }
        };
    }