/*INDEX*/
/*Sección video de Inicio*/
section {
    .divVideo {
        position: relative;
        #video {
            @include medidas($full-width, 400px);
            margin-left: 162px;
            object-fit: cover;
            @extend %divs;
        }
        .divTexto {
            position: absolute;
            bottom: 8vh;
            left: 36vw;
            line-height: normal;
            p {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 60px;
                letter-spacing: 5px;
                font-weight: bold;
                color: map-get($colorFuente , celesteClaro);
            }
            #coding {
                font-style: italic;
                color: map-get($colorFuente , celesteOscuro);
                font-size: 80px;
                text-align: center;
            }
        }
    }
}

/*Sección Sobre mi de Inicio*/
section {
    .sobreMiI {
        margin-left: 50px;
        margin-top: 100px;
        margin-bottom: 150px;
        @include flex(flex, row wrap, space-evenly, center);
        .sobreMiTextoI {
            height: 480px;
            @extend %divs;
            padding: 50px;
            background-color: map-get($fondos, celesteClaro);
            margin-left: 14px;
            p {
                margin-top: 20px;
                text-align: justify;
                margin-bottom: 30px;
            };
            .leerMas {
                background: linear-gradient(to top, map-get($fondos, celesteClaro), map-get($fondos, casiBlanco));
                padding: 6px 8px;
                transition: padding .5s;
                border: $bordeBoton;
                border-radius: 7px;
                font-family: $font;
                font-size: 20px;
                color: map-get($colorFuente , turquesa);
                text-decoration: none;
                &:hover {
                    box-shadow: $sombreadoHover;
                    padding: 10px 10px;
                }
            }
        };
        .retrato {
            img {
                @extend %divs;
                width: $full-width;
            }
        }
    }
}