$fondos: (
    casiBlanco: rgb(246, 241, 241),
    celesteClaro: rgb(175, 211, 226),
    celesteOscuro: rgb(25, 167, 206),
    turquesa: rgb(20, 108, 148),
    gris: rgba(0, 0, 0, 0.3)
);

$colorFuente: (
    turquesa: rgb(20, 108, 148),
    celesteClaro: rgb(175, 211, 226),
    celesteOscuro: rgb(25, 167, 206),
)
