/*VISTA MOBILE*/ 

@media only screen and (min-width: 320px) and (max-width: 576px) {
    
    /*Header*/

    header {
        padding-top: 5vh;
        margin-bottom: 20%;
        .flexIndex {
            @include flexAbreviado (flex, row, space-between, center);
            .divLogo {
                width: 22%;
                padding: 0;
                img {
                    width: 125%;
                }
            };
            .divH1 {
                width: 30%;
                padding: 0;
                h1 {
                    font-size: 23px;
                    text-align: center;
                }
            };
            div {
                nav {
                    &.navbar-light {
                        .navbar-toggler {
                            margin-bottom: 5px;
                            margin-left: 10vw;
                        };
                        div {
                            ul {
                            &.navbar-nav{
                                li {
                                    a {
                                    &.nav-link {    
                                        font-size: 16px;
                                    }
                                    }
                                }
                            }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        h2 {
            font-size: 20px;
        };
        p {
            font-size: 16px;
        }
    }
    
    /*Main de la Pagina de Inicio*/
    
    /*Sección Presentación de Inicio*/
    section {
        &.codigoI{
            padding-top: 0;
            padding-left: 12px;
            padding-right: 12px;
            background-image: none;
        };
        .presentacion {
            margin-top: 0;
            margin-left: 0;
            @include flex(flex, row wrap, center, center);
            .familia {
                width: 80%;
                padding-left: 0;
                padding-right: 0;
                img {
                    width:100%
                }
            };
            .codigo2, .codigo1 {
                display: none;
            };
            .textoPresentacion {
                padding: 2%;
                margin-top: 20%;
                @include medidas($full-width, 45%);
                @include flex(flex, column, center, center);
                div {
                    @include medidas(84%, 40%);
                    div:not(.carousel-inner) {
                        &.trabajemos, &.hola {
                            padding: 5%;
                            line-height: inherit;
                            height: 200px;
                        };
                    }
                }
            }
        }
    }
    

    /*Sección Video de Inicio*/
    section {
        &.seccionVideo{
            display: none;
        }
    }

    /*Sección SobreMi de Inicio*/
    section {
        .sobreMiI {
            padding-bottom: 20%;
            padding-top: 0;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
            align-items: center;
            .sobreMiTextoI {
                @include medidas(80%, 50%);
                padding: 5%;
                margin-top: 20%;
                margin-left: 0;
                .leerMas {
                    font-size: 16px;
                }
            }
            .retrato {
                padding-left: 0;
                padding-right: 0;
                width: 80%;
                margin-top: 20%;
                img {
                    width: $full-width;
                }
            }
        };
        padding-top: 0;
    }
    
    
    /*Main de la Pagina Sobre Mi*/

    .mainSobreMi {
        background-image: url(../img/binario.webp);
        @include imagenFondo(auto, repeat, top);
        /*Seccion Sobre Mi*/
        section {
            .sobreMiS {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                align-items: center;
                .codigo2, .codigo1 {
                    display: none;
                };
                .sobreMiTextoS {
                    @include medidas(80%, 60%);
                    padding: 5%;
                    margin-left: 0;
                    margin-top: 0;
                    p {
                        margin-bottom: 0;
                    }
                }
                .retrato {
                    padding-left: 0;
                    padding-right: 0;
                    width: 80%;
                    margin-top: 20%;
                    img {
                        @include medidas($full-width, 368px);
                        margin-left: 0;
                    }
                }
            }
        }
        /*Seccion Mi Carrera*/
        section {
            .miCarrera {
                margin-top: 0;
                margin-left: 0;
                align-items: center;
                padding-bottom: 20%;
                padding-top: 20%;
                .miCarreraTexto {
                    @include medidas(80%, fit-content);
                    padding: 5%;
                    margin-left: 0;
                    margin-top: 0;
                    padding-bottom: 0;
                    p {
                        margin-bottom: 0;
                        padding-bottom: 5vh;
                    }
                }
                .retrato {
                    padding-left: 0;
                    padding-right: 0;
                    width: 80%;
                    margin-top: 20%;
                    img {
                        width: $full-width;
                    }
                }
            }
        }
    };
    

    /*Main de la Pagina proyectos*/
    /*Seccion Intro de proyectos*/
    .intro {
        padding: 5%;
        .introProyectos {
            @include medidas(90%, auto);
            margin-left: 5%;
            justify-items: center;
            padding: 5%;
            div {
                h2 {
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            div {
                img {
                    width: $full-width;
                }
            }
        }
    }
    /*Seccion Intro de proyectos*/
    .seccionProyectos {
        @include medidas($full-width, 1030vh);
        .grillaProyectos {
            grid-template-columns: 1fr;
            grid-template-rows: 13% 22% 14% 18% 10% 8%;
            row-gap: 6%;
            width: $full-width;
            margin-top: 20vh;
            margin-left: 0;
            margin-bottom: 0;
            .proyectos {
                width: 80%;
                justify-self: center;
                height: auto;
                padding: 0;
                img {
                    width: 80%;
                }
                details {
                    summary {
                        font-size: 16px;
                    }
                }
            }
        }
    }


    /*Main de la Pagina Desarrollo*/

    /*Sección con intro de la Pagina*/

    #desarrollo {
        @include imagenFondo(auto, repeat, top);
        section {
            .desarrollo {
                height: fit-content;
                h2 {
                    text-align: center;
                }
            }
        }
        /*Sección de Lenguajes*/
        section {
            .lenguajes {
                margin-left: 0;
                margin-top: 7%;
                div {
                    img {
                        width: 85%;
                        margin-left: 8%;
                    }
                }
                .lenguajesTexto {
                    padding: 5%;
                    width: 88%;
                    height: fit-content;
                    margin-top: 7%;
                }
            }
        }
    }
    


    /*Main de la Pagina Contacto*/


    @keyframes appear-rigth {
        from {
            margin-left: 100%;
            width: 600px;
        }
        to {
            margin-left: 0;
            width: 550px;
        }
    }
    /*Formulario*/
    #contacto {
        form {
            width: 80%;
            height: fit-content;
            div {
                margin-bottom: 5%;
                input[type=text],
                input[type=email], textarea {
                    width: 97%;
                    margin: 10px 0 7px 7px;
                }
            }
            .boton {
                button {
                    font-size: 16px;
                    width: 60%;
                }
            }
        }
    }

    @keyframes appear-rigth {
        from {
            margin-left: 200px;
            width: 500px;
        }
        to {
            margin-left: -50px;
            width: 500px;
        }
    }

    /*Footer*/

    footer{
        height: auto;
        .grillaFooter{
            flex-direction: column;
            p {
                font-size: 12px;
                text-align: center;
                margin-top: 9px;
            };
            #imgMail {
                display: none;
            };
            a {
                img {
                    @include medidas(90px, 50px);
                };
            }
            .descargarCV {
            font-size: 11px;
            margin-top: 10px;
            width: 70%;
            }
        }
    }
}