/*PROYECTOS*/

/*Sección con intro de Proyectos*/
.intro {
    width: $full-width;
    padding: 100px;
    background-image: url(../img/chicaCodigo.jpg);
    @include imagenFondo(contain, repeat, center);
    .introProyectos {
        @include flex(flex, row wrap, center, center);
        @include medidas (850px, 300px);
        padding: 30px;
        background-color:  map-get($fondos, celesteClaro);
        border-right: $bordeGral;
        border-bottom: $bordeGral;
        border-radius: 40px;
        box-shadow: $sombreadoGral;
        margin-left: 180px;
        div {
            h2 {
                margin-bottom: 40px;
            }
            p {
                text-align: justify;
            }
        }
    }
}