/*SOBRE MI*/

.mainSobreMi {
    padding-top: 100px;
}

@keyframes slide-in-top {
    from {
        margin-top: -200px;
        height: 900px;
    }
    to {
        margin-top: 0;
        height: 720px;
    }
}

@keyframes slide-in {
    from {
        margin-top: 95%;
        height: 1000px;
    }
    to {
        margin-top: 10px;
        height: 720px;
    }
}

/*Seccion SobreMi de SobreMi */
section {
    .sobreMiS {
        @include flex(flex, row wrap, space-around, start);
        margin-bottom: 100px;
        .codigo2 {
            z-index: -1;
            animation-name: slide-in-top;
            animation-duration: 5s;
            animation-iteration-count: 1;
            @include medidas(214px, 720px);
            position: relative;
            top: -100px;
        };
        .codigo1 {
            z-index: -1;
            animation-name: slide-in;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
            position: relative;
            top: -100px;
        };
        .sobreMiTextoS {
            height: 540px;
            @extend %divs;
            padding: 50px;
            background-color: map-get($fondos, celesteClaro);
                margin-left: 14px;
            p {
                margin-top: 20px;
                text-align: justify;
                margin-bottom: 30px;
            }
        };
        .retratoSobreMi {
            padding-left: 24px;
            img {
                @extend %divs;
                width: $full-width;
                
            }
        }
    }
}
/*Seccion Mi Carrera de SobreMi*/
section {
    .miCarrera {
        @include flex(flex, row wrap, space-evenly, flex-start);
        margin-left: 90px;
        padding-bottom: 150px;
        .miCarreraTexto {
            height: 600px;
            padding: 50px;
            @extend %divs;
            background-color: map-get($fondos, celesteClaro);
            p {
                margin-top: 20px;
                text-align: justify;
                margin-bottom: 50px;
            }
        };
        #cerebro {
            img {
                @extend %divs;
                width: $full-width;
            }
        }
    }
}