/*Tipografía*/

$font: sans-serif;

/*Borde*/
$bordeGral: 5px solid rgb(25, 167, 206);
$bordeHeader: 7px double rgba(44, 42, 42, 0.243);
$bordeBoton: 2px solid rgb(20, 108, 148);

/*Sombreado*/
$sombreadoGral: 0px 15px 20px gray;
$sombreadoHover: 5px 7px 15px 7px rgba(65, 64, 64, 0.2);

/*Ancho*/
$full-width: 100%;